.container .image {
    display: inline-block;
    float: right;
    width: 500px;
    height: 500px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 10px 12px var(--color-grey-d);
}
    .image > img {
        /* display: block; */
        width: 100%;
    }
    .intro {
        display: inline-block;
        float: left;
        width: 100%;
        padding-left: 50px;
    }
        .intro > h2.with-style {
            margin: 14px 0;
            text-align: left;
            position: relative;
        }
        .intro  h2.with-style::after {
            position: absolute;
            top: 44px;
            left: 0;
        }
        .intro > h4 {
            display: inline-block;
            width: 100%;
            margin: 14px 0;
            font-size: 20px;
            font-family: "Poppins", sans-serif;
        }
        .intro > p {
            display: inline-block;
            width: 100%;
            margin: 10px 0;
            line-height: 25px;
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            color: var(--color-grey-d);
        }
        @media (max-width: 1350px) {
            .container .image {
                width: 430px;
                height: 430px;
        }
        @media (max-width: 1200px) {
            .container .image {
                width: 350px;
                height: 350px;
        }
        @media (max-width: 1000px) {
            .row > .col-5.about {
                width: var(--col-12);
            }
            .container .image {
                margin-bottom: 50px;
                width: 700px;
                height: 700px;
                text-align: center;
            }
            .col-7.about {
                width: var(--col-12);
            }
        }
        @media (max-width: 900px) {
            .container .image {
                width: 500px;
                height: 500px;
            }
        }
        @media (max-width: 700px) {
            .container .image {
                /* float: none; */
                width: 500px;
                height: 500px;
                /* text-align: center; */
            }
        }
        @media (max-width: 600px) {
            .container .image {
                /* float: none; */
                width: 300px;
                height: 300px;
                /* text-align: center; */
            }
        }