 .founder-cards {
    display: inline-block;
    width: var(--col-6);
    margin: 0 calc( (100% - var(--col-6) ) / 2 ) 0;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 0 20px;
    border-radius: 5px;
    overflow: hidden;
}
    .founder-cards > .list {
        display: inline-block;
        float: left;
        width: 400%;
        transition: all 1s;
    }
        .founder-cards > .list > .founder-card {
            display: inline-block;
            width: 100%;
        }
            .founder-cards > .list > .founder-card > .goodluck {
                display: inline-block;
                padding: 40px 20px 20px;
                background-color: #fff;
                border: 1px solid var(--color-grey-d);
                border-radius: 5px;
                box-shadow: 0 10px 12px var(--color-grey-d);
                width: var(--col-12);
            }
                .founder-cards > .list > .founder-card  > .goodluck > img {
                    display: inline-block;
                    width: 100px;
                    border-radius: 50%;
                    margin-bottom: 30px;
                }
                .founder-cards > .list > .founder-card > .goodluck > p {
                    display: inline-block;  
                    width: 100%;
                    color: var(--color-grey-d);
                    line-height: 24px;
                    font-size: 18px;
                    margin: 0 0 20px 0;
                }
                .founder-cards > .list > .founder-card > .goodluck > h5 {
                    display: inline-block;
                    width: 100%;
                    line-height: 24px;
                    font-size: 22px;
                    margin: 0 0 4px 0;
                }
                .founder-cards > .list > .founder-card > .goodluck > span {
                    display: inline-block;
                    width: 100%;
                    color: var(--color-grey-d);
                    line-height: 20px;
                    font-size: 18px;
                 } 
.founder-cards > .founder-controls {
    display: inline-block;
    width: auto;
    margin: 20px;
    color: var(--color-primary-light);
}
    .founder-cards > .founder-controls > .control-unit {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 5px;
        border: 1px solid var(--color-primary-light);
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
    }
        .founder-cards > .founder-controls > .control-unit.active{
            background-color: var(--color-primary-light);
        } 

/********* Media *************/

@media (max-width: 1300px) {
    .row > .founder-cards {
        display: inline-block;
        margin: 0 calc( ( 100% - var(--col-6) ) / 2 ) 0;
        width: var(--col-6);
    }
}
@media (max-width: 1100px) {
    .row > .founder-cards {
        display: inline-block;
        margin: 0 calc( ( 100% - var(--col-8) ) / 2 ) 0;
        width: var(--col-8);
    }
}
@media (max-width: 900px) {
    .row > .founder-cards {
        display: inline-block;
        margin: 0 calc( (100% - var(--col-12) ) / 2 ) 0;
        width: var(--col-12);
    }
}
@media (max-width: 700px) {
    .row > .founder-cards {
        display: inline-block;
        margin: 0 calc( (100% - var(--col-12) ) / 2 ) 0;
        width: var(--col-12);
    }
}
@media (max-width: 400px) {
    .row > .founder-cards {
        display: inline-block;
        margin: 0 calc( (100% - var(--col-12) ) / 2 ) 0;
        width: var(--col-12);
    }
    .founder-cards > .list > .founder-card > .goodluck > p {
        line-height: 20px;
        font-size: 16px;
    }
}
