/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

.bg-primary {
    background-color: var(--color-primary-light);
    color: var(--color-white);
}
.bg-grey {
    background-color: var(--color-grey);
}
.bg-lblack {
    background-color: var(--color-footer);
}
h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}
 span.sp-red{
    color: var(--color-primary-light);
}

/************************************************************/

/************************************************************/
/* HEADER */

/************************************************************/

/************************************************************/
/* HERO */

/************************************************************/

/************************************************************/
/* ABOUT ME */

/************************************************************/

/************************************************************/
/* MY SERVICES */

/************************************************************/

/************************************************************/
/* MY RESUME */

/************************************************************/

/************************************************************/
/* FREELANCE WORK */

/************************************************************/

/************************************************************/
/* PORTFOLIO */

/************************************************************/

/************************************************************/
/* FOUNDER */

/************************************************************/

/************************************************************/
/* BLOG */

/************************************************************/

/************************************************************/
/* CONTACT ME */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
