/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

.bg-primary {
    background-color: var(--color-primary-light);
    color: var(--color-white);
}
.bg-grey {
    background-color: var(--color-grey);
}
.bg-lblack {
    background-color: var(--color-footer);
}
h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    position: relative;
}
    span.sp-red{
        color: var(--color-primary-light);
    }
    h2::after {
        content: '';
        display: inline-block;
        width: 60px;
        height: 3px;
        background-color: var(--color-primary-dark);
        position: absolute;
        bottom: -10px;
        left: calc(50% - 30px);
    }
    h2.no-style::after {
        display: none;
    }
    h2.with-style::after {
        left: calc(50% - 82px);
    }


/************************************************************/

/************************************************************/
/* HEADER */

/************************************************************/

/************************************************************/
/* HERO */

/************************************************************/

/************************************************************/
/* ABOUT ME */

/************************************************************/

/************************************************************/
/* MY SERVICES */

/************************************************************/

/************************************************************/
/* MY RESUME */

/************************************************************/

/************************************************************/
/* FREELANCE WORK */



/************************************************************/

/************************************************************/
/* PORTFOLIO */

/************************************************************/

/************************************************************/
/* FOUNDER */

/************************************************************/

/************************************************************/
/* BLOG */

/************************************************************/

/************************************************************/
/* CONTACT ME */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
