footer{
    text-align: center;
}
footer h1{
    display: inline-block;
    width: 100%;
    color: var(--color-white);
    font-size: 45px;
    font-family: Arial Black;
    line-height: 80px;
    letter-spacing: -3px;
}
footer .social{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
    footer .social > a{
        color: var(--color-grey-d);
        text-decoration: none;
        font-size: 14px;
        line-height: 28px;
        padding: 4px 12px;
        background-color: var(--color-primary-dark);
        border-radius: 50%;
        margin-right: 2px
    }
    footer .social > a:first-child{
        padding: 4px 14px;  
    }
footer p{
    display: inline-block;
    width:100%;
    color: var(--color-grey-d);
    font-size: 14px;
    line-height: 30px;
    font-family: Arial;  
    margin-top: 70px;
}
.container-without::before{
    content: '';
    display: inline-block;
    background-color: var(--color-grey-l);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 78%;
    left:0;
}