.col-8 > .message,
.col-4 > .contacts {
display: inline-block;
float: left;
width: 100%;
margin-top: 50px;
padding: 30px;
background-color: var(--color-white);
border-radius: 3px;
position: relative;
box-shadow: 0 10px 12px var(--color-grey-d);
}  
    .message > i {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 60px;
        color: var(--color-grey);
    }
    .col-8  h5 {
        font-size: 30px;
        font-family: "Poppins", sans-serif;
    }
    .col-8  p {
        display: inline-block;
            width: 100%;
            line-height: 25px;
            font-size: 16px;
            padding-top: 10px;
            font-family: "Poppins", sans-serif;
            color: var(--color-grey-d);
    }
    
      
        .col-8  input {
            display: inline-block;
            float: left;
            width: 49%;
            margin: 20px 0;
            line-height: 40px;
            font-size: 20px;
            padding: 0 10px;
        }
        .col-8  input:last-of-type {
            margin-left: 2%;
        }
        textarea {
            display: inline-block;
            float: left;
            resize: vertical;
            width: 100%;
            line-height: 40px;
            font-size: 20px;
            min-height: 160px;
            padding: 0 10px;
        }
        .message > a {
            margin-top: 30px;
        }

    .contacts  .fa {
        display: inline-block;
        font-size: 30px;
        border: 1px solid var(--color-primary-dark);
        border-radius: 50%;
        color: var(--color-white);
        background-color: var(--color-primary-dark);

    }