#main_header{
    padding: 10px 0 0;
    position: fixed;
    background-color: white;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;  
    color: var(--color-primary-light);
    border-bottom: 1px solid var(--color-grey-d-50);
    transition: all 500ms;
}
    #main_header h3{
        display: inline-block;
        float: left;
        font-size: 25px;
        line-height: 55px;
        padding: 5px;    
    }
    #main_header i{
        display: none;
        float: right;
        width: 55px;
        color: var(--color-white);
        background-color: var(--color-primary-light);
        margin-top: 10px;
        padding: 5px 0;
        font-size: 35px;
        text-align: center;
    }
    #main_header nav{
        display: inline-block;
        float: right;
        width: 500px;
        
    }
    #main_header nav > .dropdown{
        position: relative;
    } 
        #main_header nav > a{
            display: inline-block;
            float: left;
            color: var(--color-primary-dark);
            text-decoration: none;
            padding: 5px 15px 7px;
            font-size: 14px;
            line-height: 52px;
            font-family:arial black;
            cursor: pointer;
            position: relative;
        }
        #main_header nav > a::after {
            display: inline-block;
            content: '';
            height: 2px;
            position: absolute;
            width: 0;
            left: 0;
            bottom: 0;
            background-color: var(--color-primary-light);
            transition: all 1s;
        }
        #main_header nav > a:hover::after,
        #main_header nav > a.active::after{
            width: 100%;
        }
        #main_header nav .dropdown > a{
            display: inline-block;
            float: left;
            color: var(--color-primary-dark);
            text-decoration: none;
            padding: 5px 15px 7px;
            font-size: 14px;
            line-height: 52px;
            font-family:arial black;
            cursor: pointer;
            position: relative;
        }
        #main_header nav a:nth-child(2){
            display: none;
        }
        #main_header nav .dropdown > a::after {
            display: inline-block;
            content: '';
            height: 2px;
            position: absolute;
            width: 0;
            left: 0;
            bottom: 0;
            background-color: var(--color-primary-light);
            transition: all 1s;
        }
        #main_header nav .dropdown > a:hover::after{
            width: 100%;
        }
        #main_header nav > .dropdown > i{
            display: none;
            font-size: 20px;
            padding: 2px 4px;
            float: left;
            background-color: var(--color-white);
            color: var(--color-primary-dark);
            border-left: 1px solid var(--color-grey-d);
            border-bottom: 1px solid var(--color-grey-d);
        }
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: var(--color-white);
                top:65px;
                left:0;
            }
            .dropdown > .dropdown-content > a {
                display: block;
                color: var(--color-primary-dark);
                font-size: 8px;
                font-size: 15px;
                font-family:arial;
                text-decoration: none;
                padding: 15px 30px 5px 20px;
                cursor: pointer;
            }
            .dropdown:hover
            .dropdown-content {
                    display: block;
                }
            .dropdown-content a:hover {
                    color: var(--color-primary-light);
            }

/*******************************************/
/************TRANSPARE NAV'o LINE**********/
/*****************************************/
#main_header.header-transparent {
    background-color: transparent;
}
    #main_header.header-transparent h3 {
        color: var(--color-white);
    }
    #main_header.header-transparent nav a {
        color: var(--color-white);
    }
        #main_header.header-transparent nav > a::after {
            display: inline-block;
            content: '';
            height: 2px;
            position: absolute;
            width: 0;
            left: 0;
            bottom: 0;
            background-color:var(--color-white);
            transition: all 1s;
        }
        #main_header.header-transparent nav > a:hover::after{
            width: 100%;
        }
        #main_header.header-transparent nav .dropdown a {
            color: var(--color-white);
        }
        #main_header.header-transparent nav .dropdown > a::after {
            display: inline-block;
            content: '';
            height: 2px;
            position: absolute;
            width: 0;
            left: 0;
            bottom: 0;
            background-color:var(--color-white);
            transition: all 1s;
        }
        #main_header.header-transparent nav .dropdown > a:hover::after{
            width: 100%;
        }
        #main_header.header-transparent nav .dropdown > .dropdown-content > a {
            color: var(--color-primary-dark);
        }
        #main_header.header-transparent nav .dropdown > .dropdown-content a:hover {
            color: var(--color-primary-light);
    }
/****************************/
/************MEDIA**********/
/**************************/
@media(max-width:900px){
    .container #main_header{
        position: relative;
    }
        #main_header i.fa-bars,
        #main_header.mobile-show i.fa-bars {
            display: inline-block;
        }
        #main_header nav{
            display: none;
            width: 100%;
            max-height: calc(100vh - 66px);
            position: absolute;
            top: 65px;
            left: 0;
            overflow-y: auto;
        }
        #main_header.mobile-show nav{
            display: inline-block; 
        }
            #main_header nav > a, 
            #main_header.header-transparent nav a,
            #main_header nav .dropdown > a,
            #main_header.header-transparent nav .dropdown > a{
                width: 100%;
                background-color: var(--color-white);
                color: var(--color-primary-dark); 
                padding: 5px 15px 7px;
                line-height: 25px;
                border-bottom: 1px solid var(--color-grey-d);
            }  
            #main_header nav > .dropdown > a,
            #main_header.header-transparent nav .dropdown > a {
                width: 90%;
                margin-top: 10px;
                float: left;
            }
                #main_header nav > a:hover::after,
                #main_header nav > a.active::after{
                    display:none;
                }
                #main_header nav > a.active{
                    color:var(--color-primary-light);
                }
                #main_header.header-transparent nav > a:hover::after,
                #main_header.header-transparent nav > a.active::after{
                    display:none;
                }
                #main_header.header-transparent nav > a.active{
                    color:var(--color-primary-dark);
                }
                #main_header.white-head nav > a:hover::after,
                #main_header.white-head nav > a.active::after{
                    display:none;
                }
                #main_header.white-head nav > a.active{
                    color:var(--color-primary-dark);
                }

            #main_header nav > .show-angle .dropdown > i.fa-angle-down,
            #main_header nav > .dropdown > i.fa-angle-down{
                display: inline-block;
                width: 10%;
                font-size: 35px;
                line-height: 33px;
                float: right;
            }
            .dropdown:hover
            .dropdown-content{
                    display: none;
            }
            .dropdown > .dropdown-content {
                display: none;
                position: unset;
                width: 100%;
                background-color: var(--color-white);
            }
            .dropdown.show-angle > .dropdown-content{
                display: inline-block;
            }
                .dropdown > .dropdown-content > a {
                    display: inline-block;
                    width: 100%;
                    background-color: var(--color-grey);
                    border-bottom: 1px solid var(--color-grey-d);
                }

}   