:root {
    --p-r: 243;
    --p-g: 66;
    --p-b: 54;
    --color-primary-light: rgb(var(--p-r), var(--p-g), var(--p-b));
    --color-primary-light-50: rgb(var(--p-r), var(--p-g), var(--p-b), 0.4);
    /* --color-primary-light: #F34236; */
    --color-primary-dark: #121213;
    --color-footer: #212121;
    --color-grey: #F3F3F3;
    --color-grey-d: #828282;
    --color-grey-l: #313131;
   /* --color-grey-d: rgb(130, 130, 130); */
   --p-rr: 130;
   --p-gg: 130;
   --p-bb: 130;
   --color-grey-d-50: rgb(var(--p-rr), var(--p-gg), var(--p-bb), 0.4);
   --color-white: #FFFFFF;
   --color-grey-d-60: rgb(var(--p-rr), var(--p-gg), var(--p-bb), 0.6);
}